[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
construct = "*"
aiohttp = "*"
numpy = "*"
opencv-python = "*"
moderngl = "*"
moderngl-window = "*"
opencv-contrib-python = "*"
pywavefront = "*"
python-dotenv = "*"
onnx = "*"

[dev-packages]

[requires]
python_version = "3.9"
